/*=============================================================*/

$wrap-width: 1420px; // ширина контента

$wrap-padding: 20px; // внутренние отступы контента
$section-padding: 60px 0; // внутренние отступы секции

$font-size: 3; // коэффициент размера шрифта для заголовков h

$btn-color: #0067ee; // цвет кнопки
$btn-color-hover: lighten(#0067ee, 5%); // цвет кнопки

/*=============================================================*/